{{ form_start(form) }}
    {{ form_widget(form) }}
<a class="btn" id="openModalBtn">Select Icon</a>

<div id="iconContainer" class="icon-grid"></div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
