<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
                <div class="section-subtitle">Complexe Hôtelier La Bonté – CHB</div>
                <div class="section-title">Expérience d’hospitalité exceptionnelle</div>
                <p>
                    ‘’LA BONTE’’ incarne l’art de l’accueil, où chaque membre du personnel se consacre à offrir une
                    expérience de générosité et de bienveillance. Les chambres élégantes et confortables, le restaurant,
                    le Rooftop Pool, le VIP ainsi que les activités enrichissantes créent un cadre parfait pour la
                    détente.
                </p>
                <p>
                    Notre mission est d’offrir une expérience d’hospitalité exceptionnelle, où chaque visiteur se sent
                    valorisé et choyé. Nous nous engageons à créer un
                    environnement paisible et accueillant, favorisant le bien-être, la détente et le ressourcement de
                    nos hôtes. Grâce à un service personnalisé et attentionné, nous visons à surpasser les attentes de
                    nos clients.
                </p>
                <!-- call -->
                <div class="reservations">
                    <div class="icon"><span class="flaticon-call"></span></div>
                    <div class="text">
                        <p>Reservation</p> <a href="tel:855-100-4444">855 100 4444</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-4 animate-box" data-animate-effect="fadeInUp">
                <img src="{{ asset('assets/front/images/logo.jpeg') }}" alt="" class="mt-90 mb-30">
            </div>

        </div>
    </div>
</section>
