<section class="facilties section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
{#                <div class="section-subtitle">Our Services</div>#}
                <div class="section-title">Hotel Facilities</div>
            </div>
        </div>

            <div class="section-wrapper-boxed clearfix">
                <div class="row">
                <div class="col-md-3 grey-background">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-car"></i>

                        <span class="label">Private Driver</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-customer-service"></i>

                        <span class="label">Room Service</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

                <div class="col-md-3 grey-background">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-television"></i>

                        <span class="label">TV Cable</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-swimming-pool-1"></i>

                        <span class="label">Swimming Pool</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-food-service"></i>

                        <span class="label">Premium Food</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

                <div class="col-md-3 grey-background">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-strongbox"></i>

                        <span class="label">Safe Box</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-wifi"></i>

                        <span class="label">WiFi Internet</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

                <div class="col-md-3 grey-background">

                    <div class="icon-box style-standard">

                        <i class="icon icon-fi-veterinary"></i>

                        <span class="label">Pet Friendly</span>

                        <p class="text">Quisque quis mi congue pellen, pellentesque sodales lectus. Integer iaculis mauris feugiat nec.</p>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
