<div class="text-center item bg-img" data-overlay-dark="2" data-background="{{ slider.imageSlider }}">
    <div class="v-middle caption">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                        <span>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                        </span>
                    <h4>CHB - Hébergement</h4>
                    <h1>{{ slider.titre }} </h1>
                    <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span> {{ slider.btn }} </span></a> </div>
                </div>
            </div>
        </div>
    </div>
</div>