<div class="pricing-column grey-background column one-third  animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="0">

    <div class="media">
        <div class="inner-media">
            <img src="images/pricing-1.jpg" alt="">
        </div>
    </div>

    <div class="content">

        <div class="price">
            <span class="old-price">$90</span>
            <span class="current-price">$50 <span>/ day</span></span>
        </div>

        <span class="label">Event Catering</span>

        <div class="features">

            <p>Special bespoke catering menu for you</p>
            <p>Birthday celebration fully included</p>
            <p>Exceptional Festive ultimate catering</p>
            <p>Romantic dinner just for two</p>
            <p>All the planning stages provided</p>

        </div>

    </div>

</div>
