<!-- Slider -->
<header class="header slider-fade">
    <div class="owl-carousel owl-theme">
        {% if sliders %}
        {% for slider in sliders%}
        {% include 'front/partials/_item_slider.html.twig' %}
        {% endfor%}
        {% else %}
        <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        <div class="text-center item bg-img" data-overlay-dark="2" data-background="{{ asset('assets/front/images/slider/2.jpg') }}">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                            <h4>CHB - Hébergement</h4>
                            <h1>Des Chambres confortables et luxueuses </h1>
                            <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Découvrez nos chambres</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="2" data-background="{{ asset('assets/front/images/slider/3.jpg') }}">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                            <h4>CHB - Restauration</h4>
                            <h1>Variété de plats locaux et internationaux</h1>
                            <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Voir nos plats</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="3" data-background="{{ asset('assets/front/images/slider/1.jpg') }}">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                            <h4>CHB - Appartements meublés VIP</h4>
                            <h1>Chambres spacieuses avec un salon et des équipements prémium</h1>
                            <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Nos appartements meublés</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- slider reservation -->

</header>
