<form method="post" action="{{ path('admin_galerie_photos_delete', {'id': photo.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette image?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
    <button class="btn btn-p-0 btn-nofocus">
        <em class="fa fa-trash"></em>
    </button>
</form>
