<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-1">
            <div class="col-sm-6">
                <h2 class="m-0">{% if titre is defined %} {{ titre }} {% endif %}</h2>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">{% if sousTitre1 is defined %} {{ sousTitre1 }} {% endif %}</a></li>
                    <li class="breadcrumb-item active">{% if sousTitre2 is defined %} {{ sousTitre2 }} {% endif %}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
