{% extends 'front/base.html.twig' %}



{% block body %}
    <!-- Room Page Slider -->
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="img/slider/3.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="img/slider/2.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="img/slider/5.jpg"></div>
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>

    <!-- Room Content -->
    <section class="rooms-page section-padding" data-scroll-index="1">
        <div class="container">
            <!-- project content -->
            <div class="row">
                <div class="col-md-12">

                    <div class="section-title">Chambre confort</div>
                </div>
                <div class="col-md-8">
                    <p class="mb-30">Hotel non lorem ac erat suscipit bibendum nulla facilisi. Sedeuter nunc volutpat miss sapien vel conseyen turpeutionyer masin libero sevenion vusetion viventa augue sit amet hendrerit vestibulum. Duisteyerion venenatis lacus gravida eros ut turpis interdum ornare.</p>
                    <p class="mb-30">Interdum et malesu they adamale fames ac anteipsu pimsine faucibus curabitur arcu site feugiat in tortor in, volutpat sollicitudin libero. Hotel non lorem acer suscipit bibendum vulla facilisi nedeuter nunc volutpa mollis sapien velet conseyer turpeutionyer masin libero sempe mollis.</p>
                    <div class="row">
                        {#                        <div class="col-md-6">#}
                        {#                            <h6>Check-in</h6>#}
                        {#                            <ul class="list-unstyled page-list mb-30">#}
                        {#                                <li>#}
                        {#                                    <div class="page-list-icon"> <span class="ti-check"></span> </div>#}
                        {#                                    <div class="page-list-text">#}
                        {#                                        <p>Check-in from 9:00 AM - anytime</p>#}
                        {#                                    </div>#}
                        {#                                </li>#}
                        {#                                <li>#}
                        {#                                    <div class="page-list-icon"> <span class="ti-check"></span> </div>#}
                        {#                                    <div class="page-list-text">#}
                        {#                                        <p>Early check-in subject to availability</p>#}
                        {#                                    </div>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-6">#}
                        {#                            <h6>Check-out</h6>#}
                        {#                            <ul class="list-unstyled page-list mb-30">#}
                        {#                                <li>#}
                        {#                                    <div class="page-list-icon"> <span class="ti-check"></span> </div>#}
                        {#                                    <div class="page-list-text">#}
                        {#                                        <p>Check-out before noon</p>#}
                        {#                                    </div>#}
                        {#                                </li>#}
                        {#                                <li>#}
                        {#                                    <div class="page-list-icon"> <span class="ti-check"></span> </div>#}
                        {#                                    <div class="page-list-text">#}
                        {#                                        <p>Express check-out</p>#}
                        {#                                    </div>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                        <div class="col-md-12">
                            <h6>Special check-in instructions</h6>
                            <p>Guests will receive an email 5 days before arrival with check-in instructions; front desk staff will greet guests on arrival For more details, please contact the property using the information on the booking confirmation.</p>
                        </div>
                        {#                        <div class="col-md-12">#}
                        {#                            <h6>Pets</h6>#}
                        {#                            <p>Pets not allowed</p>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-12">#}
                        {#                            <h6>Children and extra beds</h6>#}
                        {#                            <p>Children are welcome Kids stay free! Children stay free when using existing bedding; children may not be eligible for complimentary breakfast Rollaway/extra beds are available for $ 10 per day.</p>#}
                        {#                        </div>#}
                        <div class="col-md-12">
                            <div class="butn-dark mt-15 mb-30"> <a href="#"><span>Verifiez la disponibilité</span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1">
                    <h6>Caractéristiques</h6>
                    <ul class="list-unstyled page-list mb-30">
                        <li>
                            <div class="page-list-icon"> <span class="flaticon-group"></span> </div>
                            <div class="page-list-text">
                                <p>1-2 Personnes</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <span class="flaticon-wifi"></span> </div>
                            <div class="page-list-text">
                                <p>Wifi Gratuit</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <span class="flaticon-clock-1"></span> </div>
                            <div class="page-list-text">
                                <p>200 sqft room</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <span class="flaticon-breakfast"></span> </div>
                            <div class="page-list-text">
                                <p>Petit déjeuner</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <span class="flaticon-towel"></span> </div>
                            <div class="page-list-text">
                                <p>Towels</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <span class="flaticon-swimming"></span> </div>
                            <div class="page-list-text">
                                <p>Piscine</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
