{% extends 'front/base.html.twig' %}
  {% block body %}
<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="3"
     data-background="{{ asset('assets/front/images/slider/5.jpg') }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left caption mt-90">

                <h1>CONTACTEZ-NOUS</h1>
            </div>
        </div>
    </div>
</div>
      <section>

          <div class="row space clearfix">
              <div class="column full">

                  <div class="section-wrapper-boxed textcenter">

                      <div class="big-title">

                          <p class="subtitle style-border-left-right color-accent">Surrender to bright joy, pure bliss and sensory pleasure</p>
                          <h1 class="style-low-margin">Wellness & Relaxation Facilities</h1>

                      </div>

                      <p>Revitalize your senses, restore your balance, and enhance your well-being at our ever-evoloving spa and <br/>wllness center. Forget the weather, stress, fatigue, and treat yourself.</p>

                      <div class="divider70"></div>

                      <div class="facilities style-full">

                          <div class="facility-box animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="0">

                              <div class="media">
                                  <div class="inner-media">
                                      <img src="{{ asset('assets/front/images/facilities-1.jpg') }}" alt="">
                                  </div>
                              </div>

                              <div class="text-box">

                                  <span class="subtitle">Facility</span>
                                  <span class="label">Fitness Center</span>

                                  <div class="text">
                                      <p>Revitalize your senses, restore your balance, and enhance your well-being at our ever-evoloving spa and wllness center.</p>
                                  </div>

                                  <a href="page-facilities.html" class="button medium standard accent no-margin">Discover more</a>

                              </div>

                          </div>

                          <div class="facility-box animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="0">

                              <div class="media">
                                  <div class="inner-media">
                                      <img src="images/facilities-2.jpg" alt="">
                                  </div>
                              </div>

                              <div class="text-box">

                                  <span class="subtitle">Facility</span>
                                  <span class="label">Spa & Massage</span>

                                  <div class="text">
                                      <p>Revitalize your senses, restore your balance, and enhance your well-being at our ever-evoloving spa and wllness center.</p>
                                  </div>

                                  <a href="page-facilities.html" class="button medium standard accent no-margin">Discover more</a>

                              </div>

                          </div>

                          <div class="facility-box animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="0">

                              <div class="media">
                                  <div class="inner-media">
                                      <img src="images/facilities-3.jpg" alt="">
                                  </div>
                              </div>

                              <div class="text-box">

                                  <span class="subtitle">Facility</span>
                                  <span class="label">Swimming Pool</span>

                                  <div class="text">
                                      <p>Revitalize your senses, restore your balance, and enhance your well-being at our ever-evoloving spa and wllness center.</p>
                                  </div>

                                  <a href="page-facilities.html" class="button medium standard accent no-margin">Discover more</a>

                              </div>

                          </div>

                          <div class="facility-box animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="0">

                              <div class="media">
                                  <div class="inner-media">
                                      <img src="images/facilities-4.jpg" alt="">
                                  </div>
                              </div>

                              <div class="text-box">

                                  <span class="subtitle">Facility</span>
                                  <span class="label">Events Spaces</span>

                                  <div class="text">
                                      <p>Revitalize your senses, restore your balance, and enhance your well-being at our ever-evoloving spa and wllness center.</p>
                                  </div>

                                  <a href="page-facilities.html" class="button medium standard accent no-margin">Discover more</a>

                              </div>

                          </div>

                      </div>

                      <div class="divider120"></div>

                      <div class="pricing-tables clearfix">

                          <div class="pricing-column grey-background column one-third animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="0">

                              <div class="media">
                                  <div class="inner-media">
                                      <img src="images/pricing-1.jpg" alt="">
                                  </div>
                              </div>

                              <div class="content">

                                  <div class="price">
                                      <span class="old-price">$90</span>
                                      <span class="current-price">$50 <span>/ day</span></span>
                                  </div>

                                  <span class="label">Event Catering</span>

                                  <div class="features">

                                      <p>Special bespoke catering menu for you</p>
                                      <p>Birthday celebration fully included</p>
                                      <p>Exceptional Festive ultimate catering</p>
                                      <p>Romantic dinner just for two</p>
                                      <p>All the planning stages provided</p>

                                  </div>

                              </div>

                          </div>

                          <div class="pricing-column grey-background column one-third animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="100">

                              <div class="media">
                                  <div class="inner-media">
                                      <img src="images/pricing-2.jpg" alt="">
                                  </div>
                              </div>

                              <div class="content">

                                  <div class="price">
                                      <span class="old-price">$80</span>
                                      <span class="current-price">$60 <span>/ day</span></span>
                                  </div>

                                  <span class="label">Wedding Celebrations</span>

                                  <div class="features">

                                      <p>Special bespoke catering menu for you</p>
                                      <p>Birthday celebration fully included</p>
                                      <p>Exceptional Festive ultimate catering</p>
                                      <p>Romantic dinner just for two</p>
                                      <p>All the planning stages provided</p>

                                  </div>

                              </div>

                          </div>

                          <div class="pricing-column grey-background column one-third last animate__animated" data-animation-type="animate__fadeInUp" data-animation-delay="200">

                              <div class="media">
                                  <div class="inner-media">
                                      <img src="images/pricing-3.jpg" alt="">
                                  </div>
                              </div>

                              <div class="content">

                                  <div class="price">
                                      <span class="old-price">$180</span>
                                      <span class="current-price">$90 <span>/ day</span></span>
                                  </div>

                                  <span class="label">Private Meetings</span>

                                  <div class="features">

                                      <p>Special bespoke catering menu for you</p>
                                      <p>Birthday celebration fully included</p>
                                      <p>Exceptional Festive ultimate catering</p>
                                      <p>Romantic dinner just for two</p>
                                      <p>All the planning stages provided</p>

                                  </div>

                              </div>

                          </div>

                      </div>

                  </div>

              </div>
          </div>

      </section>
{% endblock %}
