/* Global */
.facilities {
    position: relative;
}

/* Style Full */
.facilities.style-full {
    display: block;
}
.facilities.style-full .facility-box {
    display: block;
    position: relative;
    padding: 100px 100px;
    margin-bottom: 50px;
}
.facilities.style-full .facility-box:nth-child(odd) {
    text-align: left;
}
.facilities.style-full .facility-box:nth-child(even) {
    text-align: right;
}
.facilities.style-full .facility-box:last-child {
    margin: 0;
}
.facilities.style-full .facility-box .media {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    backface-visibility: hidden;
    will-change: contents;
}
.facilities.style-full .facility-box .inner-media {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(1);
}
.facilities.style-full .facility-box:hover .inner-media {
    transform: scale(1.05);
}
.facilities.style-full .facility-box .inner-media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.facilities.style-full .facility-box .text-box {
    position: relative;
    display: inline-block;
    padding: 30px 30px;
    width: 330px;
    text-align: left;
    background-color: var(--cs-ca-color-08, #fff);
}
.facilities.style-full .facility-box .text-box .subtitle {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--cs-ca-accent-01, #af8c3e);
}
.facilities.style-full .facility-box .text-box .label {
    position: relative;
    display: block;
    font-family: 'Canela';
    font-size: 25px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 14px;
    color: var(--cs-ca-color-00, #000);
}
.facilities.style-full .facility-box .text-box .label::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #999;
}
.facilities.style-full .facility-box .text-box .text {
    margin-bottom: 20px;
}
.facilities.style-full .facility-box .text-box .text p {

}
.facilities.style-full .facility-box .text-box .text p:last-child {
    margin: 0;
}

/* Style Sliced */
.facilities.style-sliced {
    display: block;
}
.facilities.style-sliced .facility-box {
    position: relative;
    display: flex;
    margin-bottom: 50px;
}
.facilities.style-sliced .facility-box:last-child {
    margin: 0;
}
.facilities.style-sliced .facility-box .content-left {
    display: flex;
    width: 50%;
    padding: 0 50px;
}
.facilities.style-sliced .facility-box .media {
    overflow: hidden;
    backface-visibility: hidden;
    will-change: contents;
}
.facilities.style-sliced .facility-box .inner-media {
    overflow: hidden;
    transform: scale(1);
}
.facilities.style-sliced .facility-box .media:hover .inner-media {
    transform: scale(1.05);
}
.facilities.style-sliced .facility-box .inner-media img {
    display: block;
    width: 100%;
}
.facilities.style-sliced .facility-box .content-right {
    display: flex;
    width: 50%;
    padding: 0 50px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.facilities.style-sliced .facility-box .text-box {
    display: block;
}
.facilities.style-sliced .facility-box .text-box .subtitle {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--cs-ca-accent-01, #af8c3e);
}
.facilities.style-sliced .facility-box .text-box .label {
    position: relative;
    display: block;
    font-family: 'Canela';
    font-size: 30px;
    line-height: 42px;
    font-weight: 300;
    margin-bottom: 26px;
    padding-bottom: 14px;
    color: var(--cs-ca-color-00, #000);
}
.facilities.style-sliced .facility-box .text-box .label::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #999;
}
.facilities.style-sliced .facility-box .text-box .text {
    margin-bottom: 20px;
}
.facilities.style-sliced .facility-box .text-box .text p {

}
.facilities.style-sliced .facility-box .text-box .text p:last-child {
    margin: 0;
}
