<form method="post" action="{{ path('app_prix_a_appliquer_delete', {'codeprixApplique': prix_a_appliquer.codeprixApplique}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prix_a_appliquer.codeprixApplique) }}">
    <button class="btn">Delete</button>
</form>
