<!DOCTYPE html>

<title>New PrixAAppliquer</title>

{% block body %}
    <h1>Create new PrixAAppliquer</h1>

    {{ include('prix_a_appliquer/_form.html.twig') }}

    <a href="{{ path('app_prix_a_appliquer_index') }}">back to list</a>
{% endblock %}
